$brand-primary:         #669933;
$brand-success:         #7bad23;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
$brand-info:            #5bc0de;

$font-family-sans-serif: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$grid-gutter-width: 30px;
$container-large-desktop: ((940px + $grid-gutter-width));
$container-lg: $container-large-desktop;
